@media(max-width: 1160px) {
  .home-text {
    font-size: 0.97em;
  }
  .home-text23 {
    font-size: 0.97em;
  }
}
@media(max-width: 1000px) {
  .home-text {
    font-size: 0.87em;
  }
  .home-logo {
    width: 30px;
  }
  .home-text23 {
    font-size: 0.87em;
  }
  .home-logo1 {
    width: 30px;
  }
}
@media(max-width: 830px) {
  .home-link-2 {
    font-size: 15px;
  }
  .home-heading3 {
    font-size: 17px;
  }
}
@media(max-width: 790px) {
  .home-link-1 {
    font-size: 15px;
  }
  .home-link-2 {
    font-size: 13px;
  }
}
@media(max-width: 780px) {
  .home-copyright {
    font-size: 11px;
  }
}
@media(max-width: 730px) {
  .home-link-1 {
    font-size: 13px;
  }
}
@media(max-width: 690px) {
  .home-link-1 {
    font-size: 11px;
  }
}
@media(max-width: 675px) {
  .home-text {
    font-size: 0.67em;
  }
  .home-link1 {
    font-size: 11px;
  }
  .home-link13 {
    font-size: 14px;
  }
  .home-link14 {
    font-size: 14px;
  }
  .home-link15 {
    font-size: 14px;
  }
}
@media(max-width: 674.5px) {
  .home-header {
    display: none;
  }
}

.loader-bg {
  background-image: linear-gradient(135deg, rgb(110, 59, 243) 23.00%,rgb(20, 55, 243) 86.00%);
  filter: brightness(80%);
}
