:root{
  --bgc: rgba(0, 0, 0, 0.24);
  --acc-bgc: rgba(0, 0, 0, 1);
}
.home-bg, .user-agreement-bg, .rules-for-players-bg {
  transition: 1s
}

.t-light{
  --bgc: rgba(0, 0, 0, 0);
  --acc-bgc: rgba(255, 255, 255, 0.2);
}
.t-light #theme-switch svg:last-child{
  opacity: 0;
}
.t-light #theme-switch svg:first-child{
  opacity: 1;
}

.t-purple{
  --bgc: rgba(255, 22, 22, 0.24);
  --acc-bgc: rgb(255, 0, 193);
}
.t-purple #theme-switch {
  background-color: #6e3bf3;
  border-width: 10px;
}
.t-purple #theme-switch svg:last-child{
  opacity: 0;
}
.t-purple #theme-switch svg:first-child{
  opacity: 0;
}
