:root{
  --bgc: rgba(0, 0, 0, 0.24);
  --acc-bgc: rgba(0, 0, 0, 1);
}

.t-light{
  --bgc: rgba(0, 0, 0, 0.19);
  --acc-bgc: rgba(0, 0, 0, 0);
}
.t-light #theme-switch svg:last-child{
  display: none;
}
.t-light #theme-switch svg:first-child{
  display: block;
}

.t-purple{
  --bgc: rgba(255, 22, 22, 0.24);
  --acc-bgc: rgb(255, 0, 193);
}
.t-purple #theme-switch {
  background-color: #6e3bf3;
}
.t-purple #theme-switch svg:last-child{
  display: none;
}
.t-purple #theme-switch svg:first-child{
  display: none;
}
