.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 10000;
  position: relative;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.21);
}
.navbar-main {
  width: 100%;
  display: flex;
  max-width: idth;
  align-self: flex-start;
  padding-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 30px;
  backdrop-filter: blur(8px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-navlink {
  display: contents;
}
.navbar-logo {
  height: 3rem;
  transition: 0.3s;
  padding-top: 5px;
  border-color: #6e3bf3;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  border-radius: 20px;
  padding-right: 0px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.35);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-logo:hover {
  filter: hue-rotate(15deg) brightness(105%);
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  border-color: #6e3bf3;
  border-width: 2px;
  border-radius: 0px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35);
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
.navbar-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-link1 {
  fill: var(--dl-color-juststudio.styles-purple);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link1:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link2 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link2:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link3 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link3:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link4 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link4:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link5 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link5:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-link {
  display: contents;
}
.navbar-discord {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}

.navbar-link1 {
  display: contents;
}
.navbar-github {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.navbar-github:hover {
  color: #FFFFFF;
}
.navbar-link2 {
  display: contents;
}
.navbar-youtube {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.navbar-youtube:hover {
  color: #FFFFFF;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.35);
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-logo1 {
  height: 3rem;
  text-decoration: none;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-link11 {
  fill: var(--dl-color-juststudio.styles-purple);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link11:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link21 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link21:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link31 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link31:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link41 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link41:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link51 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link51:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: none;
}
.navbar-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name1 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name2 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name3 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}

@media(max-width: 767px) {
  .navbar-main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-logo {
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-icon {
    fill: #6e3bf3;
  }
  .navbar-mobile-menu {
    backdrop-filter: blur(16px);
  }
  .navbar-nav {
    margin: -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000040;
  }
  .navbar-close-menu {
    padding: 5px;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: -5px;
    background-color: #e3eeff;
  }
  .navbar-icon-group1 {
    margin: -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000040;
  }
  .navbar-icon04 {
    fill: #6e3bf3;
  }
  .navbar-icon06 {
    fill: #6e3bf3;
  }
  .navbar-icon08 {
    fill: #6e3bf3;
  }
}
@media(max-width: 479px) {
  .navbar-main {
    padding: 14px;
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.e404-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover,auto;
  justify-content: flex-start;
  background-image: url("public/bg-1500w.png"),radial-gradient(circle at left top, rgb(110, 59, 243) 9.00%,rgb(20, 55, 243) 33.00%,rgb(0, 0, 64) 100.00%);
  background-repeat: no-repeat,repeat;
  background-position: center,top left;
}
.e404-main {
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  padding-right: 0px;
}
.e404-max-width {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-radius: 24px;
}
.e404-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: -100%;
  margin-right: -100%;
  flex-direction: column;
}
.e404-content {
  gap: 4px;
  display: flex;
  padding: 20px;
  align-self: stretch;
  margin-top: -10px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 20px;
  margin-bottom: -10px;
  flex-direction: column;
  backdrop-filter: blur(8px);
  justify-content: center;
}
.e404-text {
  fill: var(--dl-color-juststudio.styles-light);
  color: rgb(227, 238, 255);
  align-self: center;
  font-family: "Rubik";
}
.e404-text3 {
  fill: var(--dl-color-juststudio.styles-light);
  color: rgb(227, 238, 255);
  align-self: center;
  font-family: "Rubik";
}
.e404-container1 {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.e404-home {
  fill: #e3eeff;
  color: rgb(227, 238, 255);
  border-color: #e3eeff;
  border-width: 2px;
  text-decoration: none;
  background-color: rgb(0, 0, 64);
}
.e404-bg-blur {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(1px);
}
@media(max-width: 991px) {
  .e404-max-width {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .e404-text {
    text-align: center;
  }
  .e404-text1 {
    text-align: center;
  }
  .e404-text3 {
    text-align: center;
  }
  .e404-text4 {
    text-align: center;
  }
}
