.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 10000;
  position: relative;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.21);
}
.navbar-main {
  width: 100%;
  display: flex;
  max-width: idth;
  align-self: flex-start;
  padding-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 30px;
  backdrop-filter: blur(8px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.21);
}
.navbar-navlink {
  display: contents;
}
.navbar-logo {
  height: 3rem;
  transition: 0.3s;
  padding-top: 5px;
  border-color: #6e3bf3;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  border-radius: 20px;
  padding-right: 0px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.35);
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  filter: hue-rotate(15deg) brightness(105%);
}
.navbar-logo:hover {
  filter: hue-rotate(15deg) brightness(105%);
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  border-color: #6e3bf3;
  border-width: 2px;
  border-radius: 0px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35);
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
.navbar-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link1 {
  fill: var(--dl-color-juststudio.styles-purple);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #E3EEFF;
  text-decoration: none;
}
.navbar-link1:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link2 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #E3EEFF;
  text-decoration: none;
}
.navbar-link2:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link3 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #E3EEFF;
  text-decoration: none;
}
.navbar-link3:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link4 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #E3EEFF;
  text-decoration: none;
}
.navbar-link4:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link5 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #E3EEFF;
  text-decoration: none;
}
.navbar-link5:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-link {
  display: contents;
}
.navbar-discord {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar-link1 {
  display: contents;
}
.navbar-github {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
  color: #FFFFFF;
}
.navbar-github:hover {
  color: #FFFFFF;
}
.navbar-link2 {
  display: contents;
}
.navbar-youtube {
  flex: 0;
  width: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
  color: #FFFFFF;
}
.navbar-youtube:hover {
  color: #FFFFFF;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.35);
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-logo1 {
  height: 3rem;
  text-decoration: none;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-link11 {
  fill: var(--dl-color-juststudio.styles-purple);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link11:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link21 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link21:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link31 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link31:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link41 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link41:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-link51 {
  fill: var(--dl-color-juststudio.styles-blue);
  color: var(--dl-color-juststudio.styles-blue);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Rubik";
  font-weight: 600;
  text-shadow: 0px 0px 0px #6e3bf3;
  text-decoration: none;
}
.navbar-link51:hover {
  text-shadow: 0px 0px 0px #E3EEFF;
}
.navbar-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: none;
}
.navbar-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name1 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name2 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}
.navbar-root-class-name3 {
  top: 0px;
  left: 0px;
  right: 0px;
  position: static;
}

@media(max-width: 767px) {
  .navbar-main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-logo {
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-icon {
    fill: #6e3bf3;
  }
  .navbar-mobile-menu {
    backdrop-filter: blur(16px);
  }
  .navbar-nav {
    margin: -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000040;
  }
  .navbar-close-menu {
    padding: 5px;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: -5px;
    background-color: #e3eeff;
  }
  .navbar-icon-group1 {
    margin: -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000040;
  }
  .navbar-icon04 {
    fill: #6e3bf3;
  }
  .navbar-icon06 {
    fill: #6e3bf3;
  }
  .navbar-icon08 {
    fill: #6e3bf3;
  }
}
@media(max-width: 479px) {
  .navbar-main {
    padding: 14px;
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.api-container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e3eeff;
}
.api-main {
  z-index: 100;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
}
.api-max-width {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-radius: 24px;
}
.api-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: -100%;
  margin-right: -100%;
  flex-direction: column;
}
.api-content {
  gap: 4px;
  display: flex;
  padding: 20px;
  align-self: stretch;
  margin-top: -10px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 20px;
  margin-bottom: -10px;
  flex-direction: column;
  backdrop-filter: blur(8px);
  justify-content: center;
}
.api-text {
  fill: var(--dl-color-juststudio.styles-dark);
  color: var(--dl-color-juststudio.styles-dark);
  align-self: center;
  font-family: "Rubik";
}
.api-text003 {
  fill: var(--dl-color-juststudio.styles-dark);
  color: var(--dl-color-juststudio.styles-dark);
  align-self: center;
  font-family: "Rubik";
}
.api-container1 {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.api-home {
  fill: #e3eeff;
  color: rgb(227, 238, 255);
  border-color: #e3eeff;
  border-width: 2px;
  text-decoration: none;
  background-color: rgb(0, 0, 64);
}
.api-products {
  fill: #e3eeff;
  color: rgb(227, 238, 255);
  border-color: #e3eeff;
  border-width: 2px;
  text-decoration: none;
  background-color: rgb(0, 0, 64);
}
.api-admin-panel {
  width: 100%;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: "Rubik";
  margin-bottom: var(--dl-space-space-halfunit);
}
.api-tutorial {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 50px;
}
.api-step1 {
  align-self: center;
  font-family: "Rubik";
}
.api-desc1 {
  align-self: center;
  text-align: center;
}
.api-link {
  text-decoration: underline;
}
.api-text011 {
  color: var(--dl-color-theme-neutral-dark);
  font-style: normal;
  font-family: "Rubik";
  font-weight: 500;
}
.api-code1 {
  gap: 2;
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(37,37,37);
  text-align: left;
}
.api-source {
  fill: var(--dl-color-juststudio.styles-light);
  color: rgb(227, 238, 255);
  width: 100%;
  font-style: normal;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text013 {
  color: #84d6f7;
}
.api-text015 {
  color: #ffc600;
}
.api-text017 {
  color: #fdfbac;
}
.api-step2 {
  align-self: center;
  font-family: "Rubik";
}
.api-text020 {
  font-style: normal;
  font-weight: 300;
}
.api-desc2 {
  align-self: center;
  text-align: center;
}
.api-text024 {
  font-style: normal;
  font-family: "Rubik";
  font-weight: 500;
}
.api-code2 {
  gap: 2;
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(37,37,37);
  text-align: left;
}
.api-source1 {
  fill: var(--dl-color-juststudio.styles-light);
  color: rgb(227, 238, 255);
  width: 100%;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text026 {
  color: #84d6f7;
  font-style: normal;
}
.api-text027 {
  font-style: normal;
}
.api-text028 {
  color: #ffc600;
  font-style: normal;
}
.api-text029 {
  font-style: normal;
}
.api-text030 {
  color: #fdfbac;
  font-style: normal;
}
.api-text031 {
  font-style: normal;
}
.api-text032 {
  font-style: normal;
}
.api-text033 {
  font-style: normal;
}
.api-text034 {
  font-style: normal;
}
.api-text035 {
  color: #666666;
  font-style: normal;
}
.api-text036 {
  font-style: normal;
}
.api-text037 {
  font-style: normal;
}
.api-text038 {
  color: #adf195;
  font-style: normal;
}
.api-text039 {
  font-style: normal;
}
.api-text040 {
  color: #e3eeff;
  font-style: normal;
}
.api-text041 {
  font-style: normal;
}
.api-text042 {
  color: #adf195;
  font-style: normal;
}
.api-text043 {
  font-style: normal;
}
.api-text044 {
  color: #ffc600;
  font-family: "Fira Mono";
  font-weight: 700;
}
.api-text045 {
  font-style: normal;
}
.api-text046 {
  color: #666666;
  font-style: normal;
}
.api-text047 {
  color: #e3eeff;
  font-style: normal;
}
.api-text048 {
  font-style: normal;
}
.api-text049 {
  color: #e3eeff;
  font-style: normal;
}
.api-text050 {
  font-style: normal;
}
.api-text051 {
  color: #adf195;
  font-style: normal;
}
.api-text052 {
  font-style: normal;
}
.api-text053 {
  color: #e3eeff;
  font-style: normal;
}
.api-text054 {
  font-style: normal;
}
.api-text055 {
  color: #adf195;
  font-style: normal;
}
.api-text056 {
  font-style: normal;
}
.api-text057 {
  color: #ffc600;
  font-style: normal;
}
.api-text058 {
  font-style: normal;
}
.api-text059 {
  color: #666666;
  font-style: normal;
}
.api-text060 {
  color: #e3eeff;
  font-style: normal;
}
.api-text061 {
  font-style: normal;
}
.api-text062 {
  color: #adf195;
  font-style: normal;
}
.api-text063 {
  font-style: normal;
}
.api-text064 {
  color: #e3eeff;
  font-style: normal;
}
.api-text065 {
  font-style: normal;
}
.api-text066 {
  color: #adf195;
  font-style: normal;
}
.api-text067 {
  font-style: normal;
}
.api-text068 {
  color: #adf195;
  font-style: normal;
}
.api-text069 {
  font-style: normal;
}
.api-text070 {
  color: #adf195;
  font-style: normal;
}
.api-text071 {
  font-style: normal;
}
.api-text072 {
  color: #666666;
  font-style: normal;
}
.api-text073 {
  font-style: normal;
}
.api-text074 {
  font-style: normal;
}
.api-text075 {
  font-style: normal;
}
.api-text076 {
  font-style: normal;
}
.api-text077 {
  color: #e3eeff;
  font-style: normal;
}
.api-text078 {
  font-style: normal;
}
.api-text079 {
  font-style: normal;
}
.api-step3 {
  align-self: center;
  font-family: "Rubik";
}
.api-text081 {
  font-style: normal;
  font-weight: 300;
}
.api-desc3 {
  align-self: center;
  text-align: center;
}
.api-text085 {
  font-style: normal;
  font-family: "Rubik";
  font-weight: 500;
}
.api-code3 {
  gap: 2;
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(37,37,37);
  text-align: left;
}
.api-source2 {
  fill: var(--dl-color-juststudio.styles-light);
  color: rgb(227, 238, 255);
  width: 100%;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text087 {
  color: #84d6f7;
  font-style: normal;
}
.api-text088 {
  font-style: normal;
}
.api-text089 {
  color: #ffc600;
  font-style: normal;
}
.api-text090 {
  font-style: normal;
}
.api-text091 {
  color: #fdfbac;
  font-style: normal;
}
.api-text092 {
  font-style: normal;
}
.api-text093 {
  font-style: normal;
}
.api-text094 {
  font-style: normal;
}
.api-text095 {
  font-style: normal;
}
.api-text096 {
  color: #666666;
  font-style: normal;
}
.api-text097 {
  font-style: normal;
}
.api-text098 {
  font-style: normal;
}
.api-text099 {
  color: #adf195;
  font-style: normal;
}
.api-text100 {
  font-style: normal;
}
.api-text101 {
  color: #e3eeff;
  font-style: normal;
}
.api-text102 {
  font-style: normal;
}
.api-text103 {
  color: #adf195;
  font-style: normal;
}
.api-text104 {
  font-style: normal;
}
.api-text105 {
  color: #ffc600;
  font-family: "Fira Mono";
  font-weight: 700;
}
.api-text106 {
  font-style: normal;
}
.api-text107 {
  color: #666666;
  font-style: normal;
}
.api-text108 {
  color: #e3eeff;
  font-style: normal;
}
.api-text109 {
  font-style: normal;
}
.api-text110 {
  color: #e3eeff;
  font-style: normal;
}
.api-text111 {
  font-style: normal;
}
.api-text112 {
  color: #adf195;
  font-style: normal;
}
.api-text113 {
  font-style: normal;
}
.api-text114 {
  color: #e3eeff;
  font-style: normal;
}
.api-text115 {
  font-style: normal;
}
.api-text116 {
  color: #adf195;
  font-style: normal;
}
.api-text117 {
  font-style: normal;
}
.api-text118 {
  color: #ffc600;
  font-style: normal;
}
.api-text119 {
  font-style: normal;
}
.api-text120 {
  color: #666666;
  font-style: normal;
}
.api-text121 {
  color: #e3eeff;
  font-style: normal;
}
.api-text122 {
  font-style: normal;
}
.api-text123 {
  color: #adf195;
  font-style: normal;
}
.api-text124 {
  font-style: normal;
}
.api-text125 {
  color: #e3eeff;
  font-style: normal;
}
.api-text126 {
  font-style: normal;
}
.api-text127 {
  color: #adf195;
  font-style: normal;
}
.api-text128 {
  font-style: normal;
}
.api-text129 {
  color: #adf195;
  font-style: normal;
}
.api-text130 {
  font-style: normal;
}
.api-text131 {
  color: #adf195;
  font-style: normal;
}
.api-text132 {
  font-style: normal;
}
.api-text133 {
  color: #666666;
  font-style: normal;
}
.api-text134 {
  font-style: normal;
}
.api-text135 {
  font-style: normal;
}
.api-text136 {
  font-style: normal;
}
.api-text137 {
  font-style: normal;
}
.api-text138 {
  color: #e3eeff;
  font-style: normal;
}
.api-text139 {
  font-style: normal;
}
.api-text141 {
  color: #e3eeff;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text143 {
  color: #666666;
}
.api-text144 {
  color: #e3eeff;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text146 {
  color: #ffc600;
}
.api-text148 {
  color: #ffc600;
}
.api-text150 {
  color: #e3eeff;
  font-family: "Fira Mono";
  font-weight: 500;
}
.api-text152 {
  font-style: normal;
}
.api-text153 {
  font-style: normal;
}
@media(max-width: 991px) {
  .api-max-width {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .api-main {
    margin-top: 120px;
  }
}
@media(max-width: 479px) {
  .api-text {
    text-align: center;
  }
  .api-text001 {
    text-align: center;
  }
  .api-text003 {
    text-align: center;
  }
  .api-text004 {
    text-align: center;
  }
}
