<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JustStudio.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/1714165239.602498-1f96a837-e638-476a-81d3-75b9f25ed066.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <script type="text/javascript">
      const JSLstyles = [
       'color: white',
       'background: blue',
       'font-size: 30px',
        'border: 1px solid white',
        'text-shadow: 2px 2px black',
        'padding: 10px',
      ].join(';');
      const WARNstyles = [
       'color: black',
       'background: yellow',
       'font-size: 60px',
        'border: 1px solid red',
        'text-shadow: 0px 0px black',
        'padding: 5px',
      ].join(';');
       setTimeout(() => {
           console.clear();

           console.info("Powered by JustStudio.");
      console.info("https://juststudio.dcms.site");

         console.log('%cJustStudio.', JSLstyles);
          console.log('');

       console.log('%cSTOP!', WARNstyles);
       console.log('WARNING! We strongly do NOT recommended doing anything in the developer tools menu!');
       console.log('If someone told you to paste or copy or change something, they are most likely truing to hack you/your account!');
      }, 7500);
    </script>
    <script type="text/javascript">
      let title = document.title
      window.addEventListener('blur', () => {
          document.title = "JustStudio."
      })
      window.addEventListener('focus', () => {
          document.title = title
      })
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./terms-data.css" rel="stylesheet" />
      <div class="terms-data-container thq-section-padding">
        <div class="terms-data-max-width thq-section-max-width thq-flex-column">
          <div class="terms-data-content thq-flex-column">
            <ul class="terms-data-ul">
              <li class="terms-data-li list-item thq-flex-column">
                <h2 class="terms-data-heading1 thq-heading-2">
                  <span>User Agreement</span>
                </h2>
                <p>
                  <span>
                    Visiting and using our website, as well as games and any of
                    our other products, projects, etc., means that you agree to
                    this user agreement, as well as all the rules and other
                    terms and conditions.
                  </span>
                </p>
                <ul class="terms-data-ul1 thq-flex-column">
                  <li class="list-item">
                    <h3 class="terms-data-heading2 thq-heading-3">
                      <span>Terms of Use</span>
                    </h3>
                    <p>
                      <span>
                        We may change these terms and all other terms and
                        conditions without notifying anyone. Your continued use
                        of the site, games, products, projects, etc. created by
                        "JustStudio.", after changes to any terms or conditions
                        or conditions, means your agreement to the changes.
                        "JustStudio." is a studio that develops mainly assets on
                        the Roblox platform, but has projects not related to
                        Roblox. Our websites and projects and products, etc.,
                        are located only on these domains:
                        https://juststudio.github.io ,
                        https://juststudio.dcms.site (games published on the
                        Roblox platform do not relate to this in any way), all
                        other domains do not belong to us, except for partner
                        domains ( https://greencat.dcms.site ) and ordered
                        domains ( https://reaverimmigration.dcms.site ,
                        https://reavercommunity.dcms.site ). Partner domains,
                        websites, as well as ordered domains and websites are
                        supported by our servers and services, but we have no
                        relation to, and are not responsible for, the content on
                        partner websites and domains, as well as ordered domains
                        and websites. "JustStudio." is not related to Roblox
                        Corporation.
                      </span>
                    </p>
                  </li>
                  <li class="list-item">
                    <h3 class="terms-data-heading3 thq-heading-3">
                      <span>Confidentiality and Security</span>
                    </h3>
                    <p class="terms-data-content3 thq-body-small">
                      <span>
                        We reserve the right to collect and store data about
                        your account on the Roblox platform every time you visit
                        our games or use our assets on the Roblox platform. We
                        collect and store the following data about your account
                        on the Roblox platform: UserID, UserName,
                        UserDisplayName, Your role in our Roblox gruoup,
                        AccountAge, MembershipType, and your actions in our
                        games. You can request the deletion of all your data on
                        our servers and services on our Discord server. Keep in
                        mind that after deleting your data, if you use our
                        assets again or visit our games again, we will collect
                        and save your data again. No third parties receive your
                        data. Data about you is collected and stored to simplify
                        bug fixes, as well as to find users who violate our
                        agreements or rules. Also, some data is collected and
                        stored to personalize something (for example, interface
                        settings in "JustStudio.AdminPanel").
                      </span>
                    </p>
                  </li>
                  <li class="list-item">
                    <h3 class="terms-data-heading4 thq-heading-3">
                      <span>Purchase of paid content</span>
                    </h3>
                    <p class="terms-data-content4 thq-body-small">
                      <span>
                        Purchasing any paid content means that you agree to
                        these terms. The purchase of paid content is not
                        required, the purchase is made according to your desire,
                        we do not force anyone to buy anything. After purchase,
                        the paid content in the games is given to you
                        automatically, no errors can occur. Paid roles in our
                        Discord server are given to you manually, by the head
                        administration. Funds for paid content will not be
                        refunded.
                      </span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="terms-data-content1 thq-flex-column">
            <ul class="terms-data-ul2">
              <li class="terms-data-li04 list-item thq-flex-column">
                <h2 class="terms-data-heading7 thq-heading-2">
                  <span>Rules for Players</span>
                </h2>
                <p class="terms-data-content7 thq-body-small">
                  <span>
                    Rules for players playing games by "JustStudio." on the
                    Roblox platform.
                  </span>
                </p>
                <ul class="terms-data-ul3 thq-flex-column">
                  <li class="list-item">
                    <h3 class="terms-data-heading8 thq-heading-3">
                      <span>General</span>
                    </h3>
                    <p class="terms-data-content8 thq-body-small">
                      <span>
                        Follow the Terms of Use of the Roblox platform. In
                        short, a few simple rules: Do not swear. Treat everyone
                        with respect. No dating, or other type of adult content.
                        No discrimination. No propaganda of anything. It is also
                        forbidden to mention/recreate terrorist attacks or
                        something like that. Do not use cheats/exploits/anything
                        like that. Play the games honestly, and enjoy the games.
                      </span>
                    </p>
                  </li>
                  <li class="list-item">
                    <h3 class="terms-data-heading9 thq-heading-3">
                      <span>JustStudio.Rules</span>
                    </h3>
                    <p class="terms-data-content9 thq-body-small">
                      <span>
                        Playing our games published on the Roblox platform means
                        that you agree to these rules, as well as the User
                        Agreement. If the violator does not know these rules or
                        does not agree with these rules, this does not exempt
                        him from punishment (temporary ban or ban forever). We
                        have done everything to make sure that all players know
                        these rules: We have placed links to our discord server
                        wherever possible in Roblox, and through our discord
                        server you can get to these rules. We are not
                        partners/part/division/etc. of Roblox Corporation. All
                        players must respect moderation and administration. If
                        the moderation/administration has done some actions, as
                        it seems to you, the actions were done by mistake or by
                        accident, contact our support located on our discord
                        server. Treat "JustStudio.", Administration, Moderation,
                        Developers, and our Partners with respect. Any kind of
                        disrespect, bullying, etc. is strictly prohibited!
                      </span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="terms-data-content2 thq-flex-column">
            <ul class="terms-data-ul4">
              <li class="terms-data-li07 list-item thq-flex-column">
                <h2 class="terms-data-heading10 thq-heading-2">
                  <span>About Bans</span>
                </h2>
                <p class="terms-data-content10 thq-body-small">
                  <span>
                    About bans in games and assets by "JustStudio." on the
                    Roblox platform. We reserve the right to prohibit banned
                    users from playing games using our assets.
                  </span>
                </p>
                <ul class="terms-data-ul5 thq-flex-column">
                  <li class="list-item">
                    <h3 class="terms-data-heading11 thq-heading-3">
                      <span>Reason</span>
                    </h3>
                    <p class="terms-data-content11 thq-body-small">
                      <span>
                        We can ban you on our games and services and assets if
                        you violate the Rules for Players or the User Agreement.
                        You can also get banned if: you are a
                        friend/ally/partner/etc. of the one who got banned; or
                        if you did an attack/raid on "JustStudio." or were a
                        participant of the attack/raid; or if you are trying to
                        find loopholes in the rules or agreements or terms.
                      </span>
                    </p>
                  </li>
                  <li class="list-item">
                    <h3 class="terms-data-heading12 thq-heading-3">
                      <span>Details</span>
                    </h3>
                    <p class="terms-data-content12 thq-body-small">
                      <span>
                        If you are banned for actions in our game, then you will
                        receive a temporary ban (depending on actions) in the
                        game and a ban forever on services and assets created by
                        "JustStudio."; Or if you are banned for actions in any
                        of our services/assets but not in our game, then you
                        will receive a ban forever absolutely on all
                        games/services/assets created by "JustStudio."
                      </span>
                    </p>
                  </li>
                  <li class="list-item">
                    <h3 class="terms-data-heading13 thq-heading-3">
                      <span>Appeals</span>
                    </h3>
                    <p class="terms-data-content13 thq-body-small">
                      <span>
                        If you think that you were banned by mistake, you can
                        appeal on our Discord server.
                      </span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      document.ondragstart = noselect;
      document.onselectstart = noselect;
      document.oncontextmenu = noselect;
      function noselect() {return false;}
    </script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
